:host ::ng-deep {
  mat-form-field {
    .mat-mdc-form-field-bottom-align {
      display: none !important;
    }
  }
}

header a {
  color: var(--mat-sys-on-primary-container);
  text-decoration: none;
}