<div class="d-flex flex-column h-100">
  @if (loading) {
    <div class="d-flex align-items-center justify-content-center h-100">Loading snippet...</div>
  } @else if (error) {
    <div class="d-flex align-items-center justify-content-center h-100">{{ error }}</div>
  } @else if (snippetService.snippet()) {
    <app-snippet-code-editor-component
      class="flex-grow-1 overflow-hidden" 
      #editor
      [snippet]="snippetService.snippet()!">
    </app-snippet-code-editor-component>
  }
</div>