::ng-deep {
  .mat-mdc-dialog-container {
    --mdc-theme-surface: var(--mat-sys-primary-container) !important;
  }
  
  .mdc-dialog__surface {
    background-color: var(--mat-sys-primary-container) !important;
    border-radius: var(--mdc-shape-large, 28px) !important;
  }
}


