:host ::ng-deep mat-card {
    cursor: pointer;
    background-color: var(--mat-sys-background) !important;
}

:host ::ng-deep .mat-mdc-paginator {
  background-color: var(--mat-sys-surface-container-low) !important;
}
