:host ::ng-deep {
  mat-form-field {
    .mat-mdc-form-field-bottom-align {
      display: none !important;
    }
  }
}

nav, .navbar-brand {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
}