name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch: # Allow manual trigger

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Read API version from package.json
      id: get_api_version
      run: echo "API_VERSION=$(jq -r .version snippy/backend/package.json)" >> $GITHUB_ENV

    - name: Read DB version (if package.json exists)
      id: get_db_version
      run: echo "API_VERSION=$(jq -r .version snippy/db/package.json)" >> $GITHUB_ENV

    - name: Build and push API image
      uses: docker/build-push-action@v5
      with:
        context: ./snippy/backend
        push: true
        tags: |
          kennyl777/snippy-api:${{ env.API_VERSION }}
          kennyl777/snippy-api:latest

    - name: Build and push DB image
      uses: docker/build-push-action@v5
      with:
        context: ./snippy/db
        push: true
        tags: |
          kennyl777/snippy-db:${{ env.DB_VERSION }}
          kennyl777/snippy-db:latest
