.profile-avatar {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.collection-card {
  cursor: pointer;
}

.private-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
